* {
    font-family: 'Comic Neue';
}

.div-header {
    background-image: url("../img/design1_image2.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
}

.logo {
    height: 100px;
    width: 100px;
}

h1 {
    font-size: 50px;
}

h2 {
    background-color: white;
    text-align: center;
    color: black;
    border: solid 1px;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}