* {
  font-family: "Segoe UI Historic";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(241, 241, 228);
  color: #191c32;
}

.nav-article {
  height: 100vh;
  background: linear-gradient(to bottom, #0a0b1393, #07080e93, #00000093),
    url(../img/design1_image1.jpg);
  background-position: center;
  background-size: cover;
}

h1 {
  background: none;
  color: rgb(241, 241, 228);
  font-size: 65px;
  font-family: Cambria;
  text-shadow: 2px 2px black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 500px;
}

.nav-article nav{
  width: 100%;
  height: 80px;
  padding: 0 7%;
  display: flex;
  justify-content: center;
  background: none;
  /* border-bottom: 1px solid rgb(241, 241, 228); */
  padding: 0 10%;
}

nav a{
  height: 30px;
  background: none;
  color: white;
  padding: 2%;
  text-decoration: none;
  border-bottom: 1px solid rgb(241, 241, 228);
  height: 80px;
  text-align: center;
  display: flex;
  align-items: center;
}

nav a:hover {
  color: beige;
  transition: 1s;
  font-size: 20px;
}

.active {
  text-transform: uppercase;
  color: rgb(241, 241, 228);
  font-weight: bold;
  text-shadow: 1px 1px 1px #4b0f15;
  font-size: 20px;
}

.img-container {
  padding: 0 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.img {
  width: 35%;
  margin: 1.5%;
  max-height: 450px;
  min-width: 350px;
  max-width: 450px;
  min-width: 350px;
}

.img img {
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  height: 100%;
  max-height: 500px;
  min-width: 300px;
  border: 1px solid;
}

.article {
  display: flex;
  flex-direction: column;
  margin: 3%;
  width: 60%;
  justify-content: center;
  align-content: center;
}

.underline {
  height: 3px;
  width: 50px;
  background-color: red;
  margin-top: 5px;
  margin-bottom: 25px;
}

.article h3 {
  padding-top: 3%;
}

.p-contact {
  margin-bottom: 5px;
}

.logo {
  position: fixed;
  bottom: 15px;
  right: 80px;
  background: none;
}

.logo img {
  height: 7vh;
  background-color: black;
  border-radius: 50%;
}

.logo:hover {
  transform: scale(3) translateX(-15px) translateY(-15px);
}

.mail {
  font-weight: bold;
  color: #191c32;
  text-decoration: none;
}

.table-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.table {
  padding-top: 4%;
  padding-left: 15%;
}

.table-info{
  padding-left: 0;
}

.sub-table {
  margin-top: 10px;
  padding-left: 15%;
  font-style: italic;
  text-decoration: underline;
}

/* .underline-table {
  margin-left: 15%;
  height: 3px;
  width: 50px;
  background-color: red;
  margin-top: 5px;
  margin-bottom: 25px;
} */

.tr-one {
  background-color: rgb(134, 134, 117);
  border: 0;
}

th,
td {
  text-align: center;
  width: 150px;
  padding: 20px 0;
}

table {
  border-collapse: collapse;
}

.center {
  text-align: center;
}

.birth label {
  text-align: center;
}

.gender {
  display: flex;
  width: 50%;
}

.gender label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
}

#space {
  margin-top: 50px;
}

.bold {
  font-weight: bold;
}

.phone {
  text-align: center;
  padding: 0 15%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.phone a{
  text-decoration: none;
}

.mail {
  font-weight: 400;
}

.title-center-h2 {
  margin-top: 2%;
  text-align: center;
}

.title-center-h3 {
  text-align: center;
}

ul li {
  list-style: circle;
}

/*              RULES & POLICIES               */

.rules-main{
  padding: 0 5%;
}

.rules h2 {
  margin: 1%;
  margin-top: 25px;
}

ol {
  padding-left: 4%;
}

li {
  margin-top: 8px;
}

.underline-rules {
  margin-left: 1%;
  height: 3px;
  width: 50px;
  background-color: red;
  margin-top: 5px;
  margin-bottom: 25px;
}

.all-play {
  margin-left: 3%;
  margin-bottom: 50px;
}

/*              REGISTRATION               */

.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2% 0;
}

.form-info{
  padding: 0%;
  padding-bottom: 3%;
}

.sub-info{
  font-size: smaller;
}

.underline-form {
  margin-top: 5px;
  border-top: 3px solid red;
  width: 100px;
}

.underline-form-info{
  width: 70px;
}

form{
  width: 90%;
  margin-top: 25px;
  border: 1px solid black;
}

.personnel{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.personnel div{
  padding: 10px;
}

.full-name2, .city{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.full-name2 label, .city label{
  width: 30%;
  border: none;
}

.personnel input{
  width: 100%;
  border: none;
  border-bottom: 1px solid #191c32;
  padding: 5px;
}

.personnel input:focus, .signature input:focus {
  background-color: #191c32;
  color: rgb(241, 241, 228);
}

.birth-gender{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.birth-gender p{
  font-weight: bold;
}

.birth-gender label{
  display: flex;
  flex-direction: row;
  width: auto;
  padding: 0 10px;
  gap: 10px;
}

.near-school, .near-school h3{
  padding: 20px;
}

.school{
  text-align: center;
}

.school select {
  margin: 0px 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: #191c32;
  color: rgb(241, 241, 228);
}

.uniform{
  flex-wrap: wrap;
}

.end-form{
  padding: 25px 25px 0;
}

.end-form h4{
  text-align: center;
  font-size: 20px;
}

.end-form p{
  margin-top: 15px;
}

.signature{
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.signature input{
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
}

.buttons{
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.button {
  color: black;
  width: 150px;
  background: rgb(241, 241, 228);
  border-radius: 10px;
  border: 1px solid black;
  padding: 7px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 1px 1px 5px #4b0f15;
}

.button:hover {
  color: rgb(241, 241, 228);
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  border: 1px solid #4b0f15;
}

/*              END REGISTRATION               */

/*              GAME INFORMATION               */

.game-info-main{
  padding: 1.5% 2%;
}

.info{
  padding-left: 10%;
}

.underline-info{
  height: 3px;
  width: 50px;
  background-color: red;
  margin-top: 5px;
  margin-bottom: 25px;
}

.locations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.games-loc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.games-location{
  padding: 0% 10%;
}

.greenbay,
.aj-katzenmaier,
.howard-a-yaeger,
.marjorie-p-hart,
.north-elementary,
.south-elementary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.locations p {
  font-weight: bold;
}

iframe {
  width: 100%;
  height: 30vh;
  margin: 15px;
  box-shadow: 2px 2px 5px black;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.more-info{
  width: 100%;
  padding: 2% 15% 2% 15%;
}


@media (max-width: 999px) {
  .logo {
    position: fixed;
    bottom: 10px;
    right: 40px;
    background: none;
  }

  h1{
    font-size: 45px;
  }

  .nav-article nav{
    padding: 0 0%;
  }

  .birth-gender{
    align-items: center;
    justify-content: center;
    max-height: 60px;
  }

  .near-school{
    padding: 25px 20px 0;
  }
  .near-school h3{
    padding: 5px 20px;
  }

  .end-form{
    padding: 25px 25px 0;
  }
}

@media (max-width: 879px){
  iframe {
    width: 100%;
    height: 250px;
    margin: 15px;
    box-shadow: 2px 2px 5px black;
  }

  .locations div{
    width: 100%;
  }

  .more-info, .phone{
    text-align: center;
    padding-top: 4%;
  }

}

@media (max-width: 775px){
  .underline {
    align-self: center;
  }

  h1{
    font-size: 35px;
    text-align: center;
  }

  .full-name2, .city{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .near-school h3{
    text-align: center;
    font-size: 17px;
  }
  
  .full-name2 label, .city label, .signature label{
    width: 100%;
    border: none;
    margin-bottom: 10px;
  }

  .signature{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0;
  }

  .signature input{
      width: 100%;
      border: none;
      border-bottom: 1px solid #191c32;
      padding: 5px;
      text-align: center;
  }

  .buttons{
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .button{
    width: 100px;
    font-size: 15px;
  }

  .near-school p{
    text-align: center;
    margin-bottom: 10px;
  }

  .img-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;
  }

  .locations div{
    width: 75%;
    height: 35vh;
  }

  iframe{
    width: 100%;
    height: 100%;
  }

  .table {
    padding-top: 4%;
    padding-left: 0%;
    text-align: center;
  }

  .game-info-main{
    text-align: center;
  }

  .underline-form{
    display: block;
    height: 3px;
    text-align: center;
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 25px;
  }

  .sub-table {
    margin-top: 10px;
    padding-left: 0;
    font-style: normal;
    text-decoration: underline;
    font-size: smaller;
  }
}

@media (max-width: 599px){
  .phone{
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .games-location{
    padding: 0% 0%;
  }
}


/* REGISTRATION, RULES and GAME INFO ARE DONE */