* {
  font-family: "Segoe UI Historic";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(241, 241, 228);
}

nav {
  display: flex;
  justify-content: flex-end;
  background: none;
}

nav a {
  padding: 10px;
  text-decoration: none;
  background: none;
}

a:hover {
  color: red;
  transition: 1s;
  font-weight: bold;
}

.active {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}

h1 {
  font-family: "Cambria";
  font-size: 3em;
  padding-left: 5%;
  margin-bottom: 3px;
  margin-top: -15px;
}

.div-header {
  background-image: url("../img/design1_image2.jpg");
  background-position: center;
  background-size: cover;
  height: 500px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.main-container {
  margin: 5%;
  border: 4px solid white;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  position: fixed;
  bottom: 15px;
  left: 1800px;
  background: none;
}

.logo img{
  height: 7vh;
  width: 3.5vw;
  background-color: black;
  border-radius: 100px;
}

.logo:hover {
  transform: scale(3) translateX(-15px) translateY(-15px);
}

section h2 {
  display: flex;
  justify-content: center;
  padding: 1%;
  text-shadow: 1px 1px black;
}

.italic {
  padding-left: 5%;
}

.article p {
  margin-bottom: 2%;
  padding-left: 7%;
}

.img-container{
  display: flex;
  flex-direction: column;
}

.img-container h3{
  text-align: center;
}
 
.img {
  background-position: center;
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img{
  border-radius: 15px;
  height: 43vh;
  width: 43vw;
}

.img-container img:hover{
  transform: scale(1.5);
}

footer {
  margin-top: 75px;
  text-align: center;
  padding: 15px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}