* {
  font-family: "Comic Neue";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.div-header {
  background-image: url("../img/design1_image2.jpg");
  background-position: center;
  background-size: cover;
  height: 500px;
}

.logo {
  height: 100px;
  width: 100px;
  position: static;
  margin: 30px 50px;
}

h1 {
  font-size: 50px;
  font-style: italic;
}

h2 {
  background-color: white;
  font-weight: bold;
  text-align: center;
  color: black;
  border: 1px solid;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

nav {
  padding: 15px;
  display: inline-block;
  position: relative;
  left: 75%;
  bottom: 550px;
}

nav a {
  border: 1px solid;
  padding: 10px;
  text-decoration: none;
  color: white;
  background-color: cornflowerblue;
  border: 1px solid black;
  box-shadow: 1px 1px 5px black;
}

.active {
  background-color: green;
  color: white;
}

.article {
  margin-top: 20px;
  position: relative;
  left: 20%;
  bottom: 170px;
  width: 70vw;
  font-size: 20px;
}

.article h3 {
  padding-top: 20px;
}

.article p {
  padding: 10px;
}

.container {
  margin-top: 15px;
  margin-bottom: 100px;
  width: 90vw;
  height: 26vh;
  position: relative;
  left: 7%;
  bottom: 185px;
}

.container h3 {
  padding: 2%;
  text-align: center;
}

.div {
  height: 40vh;
  display: inline-block;
}

.imagen {
  border: 1px solid;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

footer {
  display: none;
}
